Editar el archivo

{JBOSS_ROOT_INSTALL}\server\default\deployers\jsf.deployer\META-INF\jsf-integration-deployer-jboss-beans.xml

Cambiar los parámetros a los valores sombreados:

<!--
      * Specify if JSF should be automatically added to every WAR.
    -->
    <property name="alwaysAddJSF">true</property>
<!--
      * Specify the name of the default JSF configuration.
    -->
    <property name="defaultJSFConfig">
       <value>Mojarra-1.2</value>
    </property>

Copiar los drivers de Oracle
Copiar la librería que contiene los drivers de conexión a la base de datos de Oracle ubicados en:

silnet2\WEB-INF\lib
archivo : ojdbc6-11.2.0.jar

A la carpeta de JBoss, ubicada en:

{JBOSS_ROOT_INSTALL}\server\default\lib